{% extends 'base.html' %}
    {% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Prevent. Maint.</th>
                <th scope="col">Correct. Maint.</th>
                <th scope="col">Consumption</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Oil</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Brakes</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tire change</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="text-center">
                <td><i class="fas fa-plus"></i></td>
                <td><i class="fas fa-pen"></i></td>
                <td><i class="fas fa-trash"></i></td>
            </tr>
        </tbody>
    </table>
    {% endblock %}