{% extends 'base.html' %}
{% block title %}
Categories
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Preventive</th>
            <th scope="col">Corrective</th>
            <th scope="col">Consumables</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Oil</td>
            <td>Motor</td>
            <td>Insurance</td>
        </tr>
        <tr>
            <td>Brakes</td>
            <td>Trolley transmission</td>
            <td>Flavouring</td>
        </tr>
        <tr>
            <td>Windshield</td>
            <td>Flat tire</td>
            <td>Toll</td>
        </tr>
        <tr>
            <td>Lights</td>
            <td></td>
            <td></td>
        </tr>
        <!--
        <tr class="text-center">
            <td><i class="fas fa-plus"></i></td>
            <td><i class="fas fa-pen"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>
        -->
    </tbody>
</table>
{% endblock %}