{% extends 'base.html' %}
{% block title %}
Expenses
{% endblock %}

{% block content %}
<div class="text-center" style="border-bottom: 2px solid black; border-top: 1px solid black;">
    <p id="date_act_expense" style="font-weight: bold;"></p>
    <p id="total_expense" style="font-weight: bold;"></p>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody id="table-expenses">
    </tbody>
</table>

{% endblock %}