{% extends 'base.html' %}
    {% block content %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum fugiat asperiores dicta eligendi voluptates velit, reiciendis totam hic labore excepturi, mollitia consequatur vitae repudiandae quidem aliquam iusto, quaerat iste!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum doloremque iste nisi temporibus? Saepe vel nostrum voluptates consequatur accusantium sunt nemo vitae ipsa voluptatem veritatis, odit, aliquid nobis dolore nisi?</p>
    {% endblock %}