{% extends 'base.html' %}
{% block title %}
Panel
{% endblock %}
{% block content %}
<p class="text-center" class="mt-2">Last mileage :<spam
        id="last_mileage">
        3000</spam>
</p>
<div class="row text-center my-4">
    <div class="col p-1 bg-primary text-white border border-light">
        <a href="create_expense" id="mainCatId1">
            <p class="text-white">Fuel</p>
            <i class="fas fa-gas-pump text-white"></i>
        </a>
    </div>
    <div class="col p-1 bg-primary text-white border border-light">
        <a href="create_expense" id="mainCatId2">
            <p class="text-white">Preventive Maintenance</p>
            <i class="fas fa-tasks text-white"></i>
        </a>
    </div>
    <div class="w-100"></div>
    <div class="col p-1 bg-primary text-white border border-light">
        <a href="create_expense" id="mainCatId3">
            <p class="text-white">Corrective Maintenance</p>
            <i class="fas fa-tools text-white"></i>
        </a>
    </div>
    <div class="col p-1 bg-primary text-white border border-light">
        <a href="create_expense" id="mainCatId4">
            <p class="text-white">Consumables</p>
            <i class="fas fa-shopping-bag text-white"></i>
        </a>
    </div>
</div>
<p class="text-center">
<h4><i class="fas fa-exclamation-triangle text-warning">
    </i> &nbsp;Alerts - Preventive Maintenance</h4>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Missing</th>
            <th scope="col">State</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>230 km</td>
            <td class="text-center"><i class="fas fa-circle text-danger""></i></td>
                <td>Oil</td>
            </tr>
            <tr>
                <td>500 km</td>
                <td class=" text-center"><i class="fas fa-circle text-warning"></i></td>
            <td>Battery</td>
        </tr>
        <tr>
            <td>1500 km</td>
            <td class="text-center"><i class="fas fa-circle text-success"></i></td>
            <td>Tire</td>
        </tr>
    </tbody>
</table>
{% endblock %}