{% extends 'base.html' %}
{% block title %}
Panel
{% endblock %}
{% block content %}
<p class="text-center" class="mt-2" style="font-size: 20px; font-weight: bold;">Last mileage :<spam id="last_mileage">
        3000</spam>
</p>
<div class="row text-center my-4" style="background-color: black;">
    <div class="col p-1" style="border-bottom: 1px solid white; border-right: 1px solid white;">
        <a href="">
            <p>Fuel</p>
            <i class="fas fa-gas-pump"></i>
        </a>
    </div>
    <div class="col p-1" style="border-bottom: 1px solid white;">
        <a href="">
            <p>Preventive Maintenance</p>
            <i class="fas fa-tasks"></i>
        </a>
    </div>
    <div class="w-100"></div>
    <div class="col p-1" style="border-bottom: 1px solid white; border-right: 1px solid white;">
        <a href="">
            <p>Consumables</p>
            <i class="fas fa-shopping-bag"></i>
        </a>
    </div>
    <div class="col p-1" style="border-bottom: 1px solid white;">
        <a href="">
            <p>Corrective Maintenance</p>
            <i class="fas fa-tools"></i>
        </a>
    </div>
</div>
<p class="text-center">
<h4 style="font-size: 20px;"><i class="fas fa-exclamation-triangle text-warning">
    </i> &nbsp;Alerts - Preventive Maintenance</h4>
</p>
<table class="table table-striped" style="border-top: 3px solid black;">
    <thead>
        <tr>
            <th scope="col">Missing</th>
            <th scope="col">State</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>230 km</td>
            <td class="text-center"><i class="fas fa-circle text-danger""></i></td>
                <td>Oil</td>
            </tr>
            <tr>
                <td>500 km</td>
                <td class=" text-center"><i class="fas fa-circle text-warning"></i></td>
            <td>Battery</td>
        </tr>
        <tr>
            <td>1500 km</td>
            <td class="text-center"><i class="fas fa-circle text-success"></i></td>
            <td>Tire</td>
        </tr>
    </tbody>
</table>
{% endblock %}